.drop-down {
    position: absolute;
    background: #fff;
    box-shadow: 0px 0px 0px 1px rgba(1, 1, 1, 0.2);
    right: -10px;
    top: 27px;
    min-width: 168px;
    padding: 3px 7px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 167ms, opacity 167ms cubic-bezier(0.4, 0, 1, 1) 0s;

    &.open {
        opacity: 1;
        visibility: visible;
    }

    &::before {
        content: '';
        position: absolute;
        top: -9px;
        right: 10px;
        width: 0;
        height: 0;
        border-width: 0;
        border-style: solid;
        border-color: transparent;
        border-right-width: 9px;
        border-left-width: 9px;
        border-bottom: 9px solid rgba(1, 1, 1, 0.2);
    }

    &::after {
        content: '';
        position: absolute;
        top: -8px;
        right: 11px;
        width: 0;
        height: 0;
        border-width: 0;
        border-style: solid;
        border-color: transparent;
        border-right-width: 8px;
        border-left-width: 8px;
        border-bottom: 8px solid white;
    }
}
