$input_font_size: 13px;
$color_active: #16a085;
$color_error: #e74c3c;
$place_holder_text: #7f8c8d;
$error_color: #e74c3c;
$color_success: #2980b9;
$color_header: #9b59b6;
$color_emphasize: #fc5c65;

$input_font_size: 13px;

$body_color: #aaa69d;
